{# templates/order/confirmer.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Confirm Order{% endblock %}

{% block body %}
    <h1>Confirm Order</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Confirm Order</button>
    {{ form_end(form) }}
{% endblock %}
